* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family:  Roboto Mono Medium, Helvetica, Arial, sans-serif;
    font-size: 24px;
	font-weight: 600;
}

window#waybar {
    background-color: alpha(#323232, 0.99);
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #b1b1b1;
    /* transition-property: background-color; */
    /* transition-duration: .5s; */
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #323232;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 0.5em;
    padding-top: 0.24em;
    background-color: #282A36;
    color: #b1b1b1;
	font-size: 12px;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
	font-weight: 600;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: #44475A;
	color: #fff;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: #FF5555;
	color: #000;
    /* background-color: #FF5555; */
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 0.2em;
	/* margin: 2px 2px; */
    color: #b1b1b1;
	/* background-color: #bbccdd; */
    /* border-radius: 0.1em; */
	/* font-weight: 400; */
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    /* background-color: #90b1b1; */
    color: #ed8796;
	/* red #ed8796 */
	/* padding-top: 0.2em; */
	/* font-weight: 600; */
}

#battery,
#bat2 {
    /* background-color: #2ecc71; */
    /* color: #90b1b1; */
}

#battery.charging, #battery.plugged,
#bat2.charging, #bat2.plugged {
    color: #a6e3a1;
    /* background-color: #26A65B; */
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.warning:not(.charging),
#bat2.warning:not(.charging) {
    /* background-color: #f53c3c; */
    color: #FAE3B0;
    /* animation-name: blink; */
    /* animation-duration: 0.5s; */
    /* animation-timing-function: linear; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
}

#battery.critical:not(.charging),
#bat2.critical:not(.charging) {
    /* background-color: #f53c3c; */
    color: #fe640b;
    /* animation-name: blink; */
    /* animation-duration: 0.5s; */
    /* animation-timing-function: linear; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
}

label:focus {
    background-color: #000000;
}

#cpu {
    /* background-color: #9b59b6; */
    /* color: #9b59b6; */
}

#memory {
    /* background-color: #9b59b6; */
    /* color: #90b1b1; */
}

#disk {
    /* background-color: #964B00; */
}

#backlight {
    /* background-color: #90b1b1; */
    /* color: #66cc99; */
	color: #a6e3a1;
}

#network {
    /* background-color: #2980b9; */
    /* color: #90b1b1; */
}

#network.disconnected {
    /* background-color: #f53c3c; */
    color: #f38ba8;
}

#pulseaudio {
    /* background-color: #f1c40f; */
    /* color: #66cc99; */
}

#pulseaudio.muted {
    /* background-color: #90b1b1; */
    /* color: #2a5c45; */
}

#custom-media {
    /* background-color: #66cc99; */
    /* color: #2a5c45; */
    /* min-width: 100px; */
}

#custom-media.custom-spotify {
    /* background-color: #66cc99; */
}

#custom-media.custom-vlc {
    /* background-color: #ffa000; */
}

#temperature {
    /* background-color: #f0932b; */
}

#temperature.critical {
    /* background-color: #eb4d4b; */
}

#tray {
    /* background-color: #2980b9; */
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    /* background-color: #eb4d4b; */
}

#idle_inhibitor {
    /* background-color: #2d3436; */
}

#idle_inhibitor.activated {
    /* background-color: #ecf0f1; */
    /* color: #2d3436; */
}

#mpd {
    /* background-color: #66cc99; */
    /* color: #2a5c45; */
}

#mpd.disconnected {
    /* background-color: #f53c3c; */
}

#mpd.stopped {
    /* background-color: #90b1b1; */
}

#mpd.paused {
    /* background-color: #51a37a; */
}

#language {
    /* background: #00b093; */
    /* color: #740864; */
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    /* background: #97e1ad; */
    /* color: #000000; */
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

/*
#08BDBA
#78A9FF
#BE95FF
#33B1FF
#3DDBD9
#BF616A
#96CDFB
#C9CBFF
#DDB6F2
#F28FAD
#F2CDCD
#F8BD96
#bd93f9
#ABE9B3
#E8A2AF
base #1e1e2e
base #24273a
base #eff1f5
blue #1e66f5
blue #89b4fa
blue #8aadf4
color: #89DCEB
color: #90b1b1
color: #B5E8E0
color: #B6E9A5
green: #40a02b
green: #a6da95
green: #a6e3a1
teal:  #179299
teal:  #8bd5ca
teal:  #94e2d5
color: #F28FAD
crust: #11111b
crust: #181926
crust: #dce0e8
flamingo #dd7878
flamingo #f0c6c6
flamingo #f2cdcd
lavender #7287fd
lavender #b4befe
lavender #b7bdf8
mantle #181825
mantle #1e2030
mantle #e6e9ef
maroon #e64553
maroon #eba0ac
maroon #ee99a0
mauve #8839ef
mauve #c6a0f6
mauve #cba6f7
peach #f5a97f
peach #fab387
peach #fe640b
pink #ea76cb
pink #f5bde6
pink #f5c2e7
red #d20f39
red #ed8796
red #f38ba8
rosewater #dc8a78
rosewater #f4dbd6
rosewater #f5e0dc
sapphire #209fb5
sapphire #74c7ec
sky #04a5e5
sky #89dceb
sky #91d7e3
yellow #df8e1d
yellow #eed49f
yellow #f9e2af
color: #FAE3B0
subtext0 #6c6f85
subtext0 #a5adcb
subtext0 #a6adc8
subtext1 #5c5f77
subtext1 #b8c0e0
subtext1 #bac2de
surface0 #313244
surface0 #363a4f
surface0 #ccd0da
surface1 #45475a
surface1 #494d64
surface1 #bcc0cc
surface2 #585b70
surface2 #5b6078
surface2 #acb0be
text #4c4f69
text #cad3f5
text #cdd6f4
overlay0 #6c7086
overlay0 #6e738d
overlay0 #9ca0b0
overlay1 #7f849c
overlay1 #8087a2
overlay1 #8c8fa1
overlay2 #7c7f93
overlay2 #9399b2
overlay2 #939ab7

*/
